.container {
    padding: 20px;
    background-color: #ffffff;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
  }
  .subheading {
    font-size: 1rem;
    color: #333;
  }
  
  .description {
    font-size: 1.2rem;
    color: #666;
  }
  