.TimerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.TimerText {
    font-size: 50px;
    font-weight: bold;
    border: none; /* Add this line to remove the border */
    
}


.TimerText:focus-within {
    border: none;
}