/* Styles for the taskView page */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}
/* Container for the task */
.task-container {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    
}

.task-info-container {
    flex: 0 0 80%; /* Take up 80% of the space */
    padding-right: 20px; /* Optional: Add some spacing between the sections */
    box-sizing: border-box;
}

.timeline-container {
    flex: 0 0 20%; /* Take up 20% of the space */
    box-sizing: border-box;
}

