/* Styles for the taskView page */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff !important; /* Change this to your desired color */
}

.task-title {
    font-size: 45px;
    margin: 0;
    text-align: left;
    padding: 20px;
}

/* Container for the task */
.task-container {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    
}

.task-info-container {
    flex: 0 0 80%; 
    padding-right: 10%; 
    box-sizing: border-box;
}

.timeline-container {
    flex: 0 0 20%; 
    box-sizing: border-box;
    flex-direction: column;
    height: max-content;


}


